h1{
  color: red;
  text-transform: uppercase;
  font-family: Arial;
  text-decoration: underline;
  text-decoration-style: dashed;
  margin: 50px 0px;
}

#firstSection{
  text-align: center;
}

#tryAgain{
  visibility: hidden;
}

#credits{
  text-align:center;
  position: absolute;
  width: 100%;
  bottom: 10px;
}
