h1{
  color: red;
  text-transform: uppercase;
  font-family: Arial;
  text-decoration: underline;
  text-decoration-style: dashed;
}

#firstSection{
  text-align: center;
}

#tryAgain{
  visibility: hidden;
}

#credits{
  text-align:center;
  position: fixed;
  width: 100%; 
  bottom: 10px;
}

